<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>Servlet 3.0 Web Application</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Bootstrap the root application context as usual using ContextLoaderListener -->

<!-- 	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener> -->

	<!-- Configuration locations for root context -->
<!-- 	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value> 
			classpath:/config/applicationContext.xml 
		</param-value>
	</context-param> -->
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>production</param-value>
	</context-param>

<!-- 	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>/services/*</servlet-name>
	</filter-mapping> -->

	<!-- Spring security filter -->
	<!-- <filter> <filter-name>springSecurityFilterChain</filter-name> <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> 
		</filter> <filter-mapping> <filter-name>springSecurityFilterChain</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->

	<!-- This filter binds the JPA EntityManager to the thread for the entire 
		processing of the request. It can help restore the same EntityManager for 
		subsequent requests of the same user so that JPA features such as lazy fetching 
		will be able -->
	<!-- <filter> <filter-name>Spring OpenEntityManagerInViewFilter</filter-name> 
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>Spring OpenEntityManagerInViewFilter</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->

	<!-- Declare a Spring Rest DispatcherServlet -->
	<servlet>
		<servlet-name>dispatcher-rest-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- Configuration locations for mvc context -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/config/springweb-rest.xml</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher-rest-servlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

</web-app>